<div class="field-form">

<%= simple_form_for([@bonsai, @review]) do |f| %>
    <div id="rating-form">
    <%= f.input :rating %>
    </div>
    
    <%= f.input :comment, as: :text, :input_html => { :cols => 75, :rows => 2 } %>
    <%= f.button :submit, "Submit Your Review", class: "button is-warning" %>
<% end %>

</div>
<div><%= link_to 'Back', bonsai_path(@bonsai) %></div>

