
<div class="review-block">

<p><%= review.rating %></p>
<p> <%= review.comment %></p>
<p class="has-text-gray fg pt1">Reviewed by: <%= review.user.name %></p>

<% if user_signed_in? %>

    <% if review.user_id == current_user.id %>
        <%= link_to "Edit", edit_bonsai_review_path(review.bonsai, review) %> | 
        <%= link_to "Delete", bonsai_review_path(review.bonsai, review), method: :delete, data: {confirm: "Are You Sure?"} %>
    <% end %>
<% end %>
</div>