<h1 class="title">Editing Review</h1>
<h4 class="subtitle is-4"><strong>Bonsai your Editing:</strong> <%= @bonsai.name %></h4>

<div class="edit-review-form">

    <%= simple_form_for([@bonsai, @review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :comment, as: :text, :input_html => { :cols => 75, :rows => 2 } %>
    <%= f.button :submit, :class => "button is-warning" %>
    <% end %>

</div>
<div><%= link_to 'Back', bonsai_path(@bonsai) %></div>

