<!DOCTYPE html>
<html>

<head>
  <title>BonsaiEcom</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <!-- <script src="https://kit.fontawesome.com/68cb87669c.js"></script> -->


</head>

<body class="<%= yield (:body_class) %>">

  <%= render 'layouts/flash' %>
  <%= render 'layouts/nav' %>

  <body>
    <div class="hero-class">
      <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              The Bonsai Store
            </h1>
            <h2 class="subtitle">
              World Class Bonsai Delivered to Your Door!
            </h2>
          </div>
        </div>

      </section>
    </div>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Bonsai Ecom</strong> by David J Forer
          </p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://unpkg.com/@github/include-fragment-element@latest"></script>
  </body>

</html>